{% extends "layouts/admin.njk" %}

{% block content %}

<section class="content form">

  <div class="content-header">

    <div class="content-header-title">
      <h1>Perfil de acesso</h1>
    </div>

    <div class="content-header-menu">
      
        <button class="button">Alterar senha</button>
        <button class="button" type="submit" form="update-form">Salvar</button>
      
    </div>

  </div>
  
  <form method="POST" action="/users/profile?_method=PUT" id="update-form">
    
    {% include 'profile/fields.njk' %}
    <input type="hidden" name="id" value="{{user.id}}">

  </form>
      
</section>

{% endblock %}