/* PHOTOS UPLOAD */

form .item #photos-upload {
  position: relative;
  border: 1px solid rgba(0, 0, 0, .18);
  border-radius: 5px;

}

form .item #photos-upload div {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form .item #photos-upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

form .item #photos-upload i {
  font-size: 300%;
  color: rgba(0, 0, 0, .25);
}

form .item #photos-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;

  height: 110px;
}

form .item #photos-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  cursor: pointer;
  transition: 400ms;
  opacity: 0;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

.button-link {
  color: var(--yellow-dark);
  margin: 5px 0;
}