<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <h1><a href="/index.html">FoodFy</a></h1>
    <ul class="menu">
      <li class="menu__item"><a href="/sobre.html">Sobre</a></li>
      <li class="menu__item"><a href="/receitas.html">Receitas</a></li>
    </ul>
  </header>
  <main>
    <div class="banner">
      <div class="banner__info">
        <h1>As melhores receitas</h1>
         <p>Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.</p>
      </div>
      <div class="banner__image">
        <img src="assets/chef.png" alt="cozinheiro">
      </div>  
    </div>

    <h1>Mais acessadas</h1>

    <section class="cards">
      <div class="card">
        <div class="card__image">
          <img src="/assets/burger.png" alt="prato">
        </div>
        <div class="card__title">
          <p>Triplo bacon burguer</p>
        </div>
        <div class="card__info">
          <p>por Jorge Relato</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image">
          <img src="/assets/pizza.png" alt="prato">
        </div>
        <div class="card__title">
          <p>Pizza 4 estações</p>
        </div>
        <div class="card__info">
          <p>por Fabiana Melo</p>
        </div>
      </div>
      
      <div class="card">
        <div class="card__image">
          <img src="/assets/espaguete.png" alt="prato">
        </div>
        <div class="card__title">
          <p>Espaguete ao alho</p>
        </div>
        <div class="card__info">
          <p>por Júlia Kinoto</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image">
          <img src="/assets/lasanha.png" alt="prato">
        </div>
        <div class="card__title">
          <p>Lasanha mac n' cheese</p>
        </div>
        <div class="card__info">
          <p>por Juliano Vieira</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image">
          <img src="/assets/doce.png" alt="prato">
        </div>
        <div class="card__title">
          <p>Docinhos pão-do-céu</p>
        </div>
        <div class="card__info">
          <p>por Ricardo Golvea</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image">
          <img src="/assets/asinhas.png" alt="prato">
        </div>
        <div class="card__title">
          <p>Asinhas de frango ao barbecue</p>
        </div>
        <div class="card__info">
          <p>por Vania Steroski</p>
        </div>
      </div>

    </section>
  </main>
  <div class="modal-overlay">
    <div class="modal">
      <div class="card">
        <div class="card__image">
          <img src="/assets/pizza.png" alt="prato">
        </div>
        <div class="card__title">
          <p>Pizza 4 estações</p>
        </div>
        <div class="card__info">
          <p>por Fabiana Melo</p>
        </div>
        <a href="#" class="close-modal">Fechar</a>
      </div>
    </div>
  </div>
  <footer>
    <p>Todos os direitos reservados receitas Foodfy</p>
  </footer>
  <script src="/scripts/script.js"></script>
</body>
</html>