{% extends "admin/layout.html" %}

{% block content %}

  <section class="details">

    <h2>Gerenciar receitas</h2>

    <section class="cards">

      {% for recipe in recipes %}
      <div class="card admin">
        <div class="card__image" style="background-image: url({{recipe.avatar_recipe}});">
          
        </div>
        <div class="card__info">
          <h3>{{recipe.title}}</h3>
          <p>{{recipe.author}}</p>
          <a href="#">Visualizar</a>
        </div>
      </div>
      {% endfor %}

    </section>

  </section>
{% endblock %}

