<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="header">
    <div class="menu">
      <div class="logo">
        <img src="/assets/logo.png" alt="logo">
      </div>
      <div class="name">
        <h1><a href="/">FoodFy</a></h1>
      </div>
      <div class="action">
        <ul>
          <li><a href="/admin/recipes">Receitas</a></li>
          <li><a href="/admin/chefs">Chefs</a></li>
        </ul>
      </div>
    </div>
    <div class="banner">
      <div class="info">
        <div class="title">
          <h1>Administração</h1>
        </div>
        <div class="subtitle">
          <p>Todo cuidado é pouco.</p>
        </div>  
        <div class="icon">
          <img src="/assets/knife.png" alt="logo">
        </div>
      </div>
    </div>
  </header>

  <main class="admin main">

    {% block content %}

    {% endblock %}
  </main>
  
  <footer>
    <p>Todos os direitos reservados receitas Foodfy</p>
  </footer>
  <script src="/admin.js"></script>
</body>
</html>