div.modal-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.800);
  opacity: 0;
  visibility: hidden;
}

div.modal-overlay .modal {
  width: 25%;
  margin: 15vh auto;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
}

div.modal img {
  width: 100%;
  border-radius: 30px;
  border-radius: 15px;
}

div.modal .card__title {
  margin-top: 20px;
  font-size: 18px;
  line-height: 21px;
}

div.modal .card__info {
  margin-top: 5px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

div.modal .card a {
  color: #999999;
  display: flex;
  justify-content: center;
}

/*==== MODAL.ACTIVE ====*/

div.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}