:root {
  --main-color: #FFB703;
  --bege-color: #F4F3EE;
  --gelo-color: #fdfdf7;
  --font-color: #161A10;
  --font-color-detaque: #F7FFF7;
}

#principal {
  max-width: 1000px;
  margin: 0 auto;
}

section#principal p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
  color: #444444;
}

section#principal h1 {
  margin-top: 50px;
  font-size: 24px;
  line-height: 28px;
  color: var(--font-color);
}

section#principal h2 {
  margin-top: 30px;
  font-size: 20px;
  height: 24px;
  color: var(--font-color);
}