@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import 'sobre.css';

/*==== GLOBAL ====*/

:root {
  --main-color: #FFB703;
  --bege-color: #F4F3EE;
  --gelo-color: #fdfdf7;
  --font-color: #161A10;
  --font-color-detaque: #F7FFF7;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.content,
.recipe,
.recipes,
.details {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--bege-color);
}

/*==== HEADER ====*/

/* header {
  display: flex;
  margin-top: 36px;
} */

.header {
  display: flex;
  background: var(--main-color);
  height: 100px;
  align-items: center;
  padding: 0 0 0 50px;
}

.header h1 {
  font-family: 'Sriracha', cursive;
  font-size: 42px;
}

.header .menu {
  display: flex;
  align-items: center;
  padding: 0 0 0 50px;
}

.header .menu a.active {
  font-weight: bold;
}

.header .menu .menu-item {
  text-decoration: none;
  list-style: none;
  padding: 0 30px 0 0;
  font-size: 16px;
  line-height: 19px;
}

/*==== BANNER ====*/

.banner {
  background: var(--main-color);
  
  height: 25vh;
  display: flex;
  justify-content: space-around;
  padding: 25px 50px 25px 50px;

  border-radius: 0 0 30px 30px;

  margin-bottom: 20px;
}

.banner .banner-image {
  position: relative;
  width: 30%;
}
.banner .banner-image img{
  position: absolute;
  height: 30vh;
  bottom: 0;
}

.banner .banner-info {
  width: 50%;
}

.banner .banner-info h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 42px;
  color: var(--font-color);
}

.banner .banner-info p {
  max-width: 350px;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  margin: 10px 0 0 20px;
}

main h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: rgb(219, 219, 219);
}

/*==== CARDS ====*/

main .cards {
  margin: 20px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

main .cards .card {
  background: var(--gelo-color);
  min-height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

main .cards img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

main .cards .card__title {
  border-radius: 20px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

main .cards .card__info {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  color: #777777;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
}

/*==== CONTENT ====*/

main .content h1{
  color: var(--font-color);
}

main .recipe .container_image {
  height: 300px;
}

main .recipe img {
  border-radius: 16px;
  margin-top: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .recipe h1 {
  font-family: Roboto;
  font-size: 36px;
  color: var(--font-color);
  margin-top: 50px;
  text-align: center;
}

main .recipe h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  color: var(--font-color);
  margin-top: 4px;
  text-align: center;
  margin-bottom: 10px;
}

main .recipe .sub-title {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

main .recipe .sub-title h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  color: var(--font-color);
  margin-bottom: 20px;
  margin-top: 40px;
  margin-right: 15px;
}

main .recipe .sub-title span {
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}

main .recipe .items {
  padding-left: 20px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

main .recipe p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

main .recipe .invisible {
  display: none;
}

/*==== FOOTER ====*/

footer {
  margin-top: 230px;
  width: 100%;
  height: 62px;
  
  margin-top: 30px;
  background: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}


/*==== ADMIN ====*/

main.admin .cards {
  margin: 20px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

main.admin .cards .card {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 20px;
}

main.admin .cards .card__image {
  background-size: cover;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}

main.admin .cards .card__info {
  margin-top: 0;
}

main.admin .cards .card__info h3 {
  margin-top: 0;
  font-weight: normal;
  color: black;
  font-size: 16px;
  line-height: 21px;
}

main.admin .cards .card__info p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

main.admin .cards .card__info a {
  line-height: 16px;
  color: var(--main-color);
  font-weight: bold;
}

















/* FORM */

.details {
  margin-top: 55px;
  position: relative;
}


.details .item {
  /* padding: 15px 0; */
}

.details h3,
.details .item div:nth-child(1) {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: bold;
  box-sizing: content-box;
  margin-top: 30px;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: normal;
  font-size: 14px;
}

input, textarea {
  width: 100%;
  outline: none;
  color: #555;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px auto 10px auto;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

.details button[type="submit"],
.details button.delete_button,
.details button.fat_button {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: var(--font-color);
  border-radius: 4px;
  cursor: pointer;
}

.details button.fat_button a {
  color: var(--font-color);
}

.details button.delete_button {
  background-color: #DC4747;
}

.details .container_button {
  position: absolute;
  top: 0;
  right: 0;
}

.details button[type="button"] {
  color: var(--main-color);
  font-weight: bold;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}