@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import 'sobre.css';

/*==== GLOBAL ====*/

:root {
  --main-color: #FFB703;
  --bege-color: #F4F3EE;
  --font-color: #161A10;
  --font-color-suave: #262923;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.list {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  margin: 20px 0 20px 0;
}

.content,
.recipe,
.recipes,
.details {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--bege-color);
}


.header {
  display: flex;
  flex-direction: column;
  background: var(--main-color);
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .menu .logo {
  padding-left: 30px;
}

.header .menu .logo img {
  width: 60px;
}

.header .menu .name {
  padding-left: 5px;
}

.header .menu .name h1 {
  font-family: 'Sriracha', cursive;
  font-size: 42px;
}

.header .menu .action ul {
  display: flex;
  flex-direction: row;
}

.header .menu .action li {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 0 30px;
}

.header .menu .action a.active {
  font-weight: bold;
}

.header .banner {
  padding-bottom: 40px;
  border-bottom: 3px solid var(--font-color);
}

.header .banner .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .banner .info .icon {
  margin-top: 10px;
}

.header .banner .info .icon img {
  width: 50px;
}

main h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: rgb(219, 219, 219);
}

/*==== CARDS ====*/

main .cards {
  margin: 20px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

main .cards .card {
  background: var(--gelo-color);
  min-height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

main .cards img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

main .cards .card__title {
  border-radius: 20px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

main .cards .card__info {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  color: #777777;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
}

/*==== CONTENT ====*/

main .content h1{
  color: var(--font-color);
}

main .recipe .container_image {
  height: 300px;
}

main .recipe img {
  border-radius: 16px;
  margin-top: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .recipe h1 {
  font-family: Roboto;
  font-size: 36px;
  color: var(--font-color);
  margin-top: 50px;
  text-align: center;
}

main .recipe h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  color: var(--font-color);
  margin-top: 4px;
  text-align: center;
  margin-bottom: 10px;
}

main .recipe .sub-title {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

main .recipe .sub-title h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  color: var(--font-color);
  margin-bottom: 20px;
  margin-top: 40px;
  margin-right: 15px;
}

main .recipe .sub-title span {
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}

main .recipe .items {
  padding-left: 20px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

main .recipe p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

main .recipe .invisible {
  display: none;
}

/*==== FOOTER ====*/

footer {
  margin-top: 230px;
  width: 100%;
  height: 62px;
  
  margin-top: 30px;
  background: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}


/*==== ADMIN ====*/

main.admin .cards {
  margin: 20px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

main.admin .cards .card {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 20px;
}

main.admin .cards .card__image {
  background-size: cover;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}

main.admin .cards .card__info {
  margin-top: 0;
}

main.admin .cards .card__info h3 {
  margin-top: 0;
  font-weight: normal;
  color: black;
  font-size: 16px;
  line-height: 21px;
}

main.admin .cards .card__info p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

main.admin .cards .card__info a {
  line-height: 16px;
  color: var(--main-color);
  font-weight: bold;
}

















/* FORM */

.details {
  padding-top: 55px;
  position: relative;
}


.details .item {
  /* padding: 15px 0; */
}

.details h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: bold;
  box-sizing: content-box;
  margin-top: 30px;
}

/* .details .title {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--main-color);
} */

.details .item div:nth-child(2) {
  color: #555;
  font-weight: normal;
  font-size: 14px;
}

input, textarea, select {
  width: 100%;
  outline: none;
  color: #555;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  height: 40px;
  margin: 10px auto 10px auto;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

.details button[type="submit"],
.details button.delete_button,
.details button.fat_button,
.details .action .button-new  {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: var(--font-color);
  border-radius: 4px;
  cursor: pointer;
}

.details button.fat_button a {
  color: var(--font-color);
}

.details button.delete_button {
  background-color: #DC4747;
}

.details .action .button-new {
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.details .container_button {
  position: absolute;
  top: 0;
  right: 0;
}

.details button[type="button"] {
  color: var(--main-color);
  font-weight: bold;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

/** CHEF LIST PAGE  */

.chef-list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list .item {
  display: flex;
  border-left: 3px solid var(--main-color);
  background: white;
  border-radius: 2px;
  padding: 10px 0 10px 0;
  
}

.list .item .item_avatar {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  padding-left: 10px;
}

.list .item .item_avatar img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}

.list .item .item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px 10px 10px;
}

.list .item .item_info h2 {
  font-size: 14px;
  font-weight: normal;
  font-weight: bold;
  /* color: var(--bege-color); */
  color: var(--font-color);
  line-height: 16px;
}

.list .item .item_info a {
  font-size: 12px;
  font-weight: bold;
  color: var(--main-color);
}

/** RECIPE LIST PAGE  */

.recipe-list { 
  grid-template-columns: 1fr 1fr;
}

.recipe-list .item {
  display: flex;
  border-left: 3px solid var(--main-color);
  background: white;
  border-radius: 2px;
  padding: 0;
  
}

.recipe-list .item .item_avatar {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  padding-left: 0;
  width: 50%;
}

.recipe-list .item .item_avatar img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 0;
}

.recipe-list .item .item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px 10px 10px;
}

.recipe-list .item .item_info h2 {
  font-size: 14px;
  font-weight: normal;
  font-weight: bold;
  /* color: var(--bege-color); */
  color: var(--font-color);
  line-height: 16px;
}

.recipe-list .item .item_info a {
  font-size: 12px;
  font-weight: bold;
  color: var(--main-color);
}

/** CHEFS SHOW PAGE  */

.details .content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}


.details .content-head .title h1 {
  font-size: 24px;
  color: var(--font-color);
}

.details .content-chef {
  display: flex;
  flex-direction: column;
}

.details .content-chef .avatar,
.details .content-chef .name,
.details .content-chef .observation {
  display: flex;
  justify-content: center;
}

.details .content-chef .avatar img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.details .content-chef .name {
  margin-top: 30px;
}

.details .content-chef .name h1 {
  font-size: 36px;
  color: var(--font-color);
}

.details .content-chef .observation {
  margin-top: 5px;
}

.details .content-chef .observation p {
  font-size: 20px;
  color: #777777;
}

.details .content-recipe .title {
  padding: 10px 0 10px 0;
}

.details .content-recipe .list {
  margin: 0;
}

/** LISTAGEM RECEITAS PÁGINA PRINCIPAL */
/** layout possui 3 colunas */
/** os item tem a imagem no topo e as informação em linha */

.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.list.three-column .item {
  display: flex;
  flex-direction: column;
  border-top: 3px solid var(--main-color);
  border-left: none;
  background: white;
  border-radius: 2px;
  padding: 0;
}

.list.three-column .item .item_avatar {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0;
}

.list.three-column .item .item_avatar img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 0;
}

.list.three-column .item .item_info {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  
  padding: 10px 0 60px 0;
}

.list.three-column .item .item_info h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--font-color);
  line-height: 16px;
  margin-bottom: 10px;
}

/** FILTRO */

.menu-action .title {
  width: auto;
}

.menu-action .action {
  width: auto;
}

.menu-action .action form {
  display: flex;
  justify-content: flex-end;
}

.menu-action .action input {
  width: auto;
  margin: 0;
  border-radius: 4px 0 0 4px;
}

.menu-action .action button[type="submit"] {
  border-radius: 0 4px 4px 0;
  outline: none;
}

/* ACTION */

.details .action {
  border: 0px solid black;
}

.details .action a {
  width: 130px;
  height: 40px;
}