{% extends "site/layout.njk" %}

{% block content %}

  <section class="details">

    <div class="title">
      <h2>Chefs</h2>
    </div>

    <section class="list chef-list">

      {% for chef in chefs %}
      <div class="item" id="card">
            
        <div class="item_avatar">
          <img src="{{chef.avatar_url}}" alt="chef image">
        </div>
        <div class="item_info">
          <div class="chef" data-id="{{chef.id}}"></div>
          <h2>{{chef.name}}</h2>

          <p>{{chef.total_recipes}} receitas</p>
        </div>
            
      </div>
      {% endfor %}

    </section>

  </section>
{% endblock %}

