<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% import "parts/header.njk" as header %}
    <title>Foodfy</title>
    
    {% include "parts/styles.njk" %}

</head>
<body>

  {{header.content("default")}}

  {% block content %}
    
  {% endblock content %}

  {% include "parts/footer.njk" %}

  {% include "parts/scrips.njk" %}
  
</body>
</html>



