{% extends "site/layout.html" %}

{% block content %}

  <section class="details">

    <div class="content-head filter">
        <div class="title">
          <h1>Receitas</h1>
        </div>
        <div class="action">
          <form action="/recipes" method="GET">
            <input 
                type="text" 
                name="filter" 
                placeholder="Nome"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
          </form>
        </div>
      </div>

    <section class="list three-column">

      {% for recipe in recipes %}
      <div class="item" id="card">
            
        <div class="item_avatar">
          <img src="{{recipe.image}}" alt="recipe image">
        </div>
        <div class="item_info">
          <div class="recipe" data-id="{{recipe.id}}"></div>
          <h2>{{recipe.title}}</h2>

          <p>Nome do chef{{recipe.chef_name}}</p>
        </div>
            
      </div>
      {% endfor %}

    </section>

  </section>
{% endblock %}

