{% extends "site/layout.html" %}

{% block content %}

  <section class="details">

    <div class="title">
      <h2>Receitas</h2>
    </div>

    <section class="list three-column">

      {% for recipe in recipes %}
      <div class="item">
            
        <div class="item_avatar">
          <img src="{{recipe.image}}" alt="recipe image">
        </div>
        <div class="item_info">
          <h2>{{recipe.title}}</h2>

          <p>Nome do chef{{recipe.chef_name}}</p>
        </div>
            
      </div>
      {% endfor %}

    </section>

  </section>
{% endblock %}

