{% extends "layouts/login.njk" %}

{% block title %}

  <h1>Nova senha</h1>

{% endblock %}

{% block field %}

  <form action="/users/password-reset" method="POST" id="form-reset">

    {% include 'session/reset-fields.njk' %}

  </form>

{% endblock %}

{% block buttons %}

  <button class="button" type="submit" form="form-reset">Nova senha</button>

{% endblock %}

{% block link %}

  <a href="/users/login">Cancelar</a>

{% endblock %}