<div class="item">
  <div>E-mail</div>
  <div>
    <input 
      type="text" 
      name="email"
      placeholder="Digite seu email"
      value="{{ user.email }}"
      onblur="Validade.apply(this, 'isEmail')"
    >
  </div>
</div>

<div class="item">
  <div>Senha</div>
  <div>
    <input 
      type="password" 
      name="password"
      placeholder="Digite uma nova senha"
    >
  </div>
</div>

<div class="item">
  <div>Repetição da Senha</div>
  <div>
    <input 
      type="password" 
      name="passwordRepeat"
      placeholder="Repita a nova senha"
    >
  </div>
</div>

<input type="hidden" name="token" value="{{token}}">