{% extends "admin/layout.html" %}

{% block content %}

    <section class="details">

      <div class="content-head">
        <div class="title">
          <h1>Editando Chef</h1>
        </div>
        <div class="action">
          
           <button class="delete_button" form="delete-form">Deletar</button>
           <button type="submit" form="update-form">Salvar</button>
         
        </div>
      </div>
      
      <form method="POST" action="/admin/chefs?_method=PUT" id="update-form">
        {% include 'admin/chef/fields.html' %}
        <input type="hidden" name="id" value="{{chef.id}}">
      </form>

      <form method="POST" action="/admin/chefs?_method=DELETE" id="delete-form">
        <input type="hidden" name="id" value="{{chef.id}}">
      </form>
      
      
    </section>

{% endblock %}