<div class="item">
  <div><h3>Nome</h3></div>
  <div>
    <input 
      type="text" 
      name="name"
      value="{{ chef.name }}"
    >
  </div>
</div>

<div class="item">
  <div><h3>Avatar</h3></div>

  {% if chef.image %}
    <input 
      type="text" 
      class="url_avatar"
      value="{{ chef.image }}" 
      name="chef_image" 
    >
  {% endif %}

  <div class="upload-avatar">
    <input 
      type="file" 
      name="avatar"
      accept="image/*"
    >
    <p>Enviar Avatar</p>
  </div>
</div>