{% extends "admin/layout.html" %}

{% block content %}

  <section class="details">

    <div class="content-head menu-action">
      <div class="title">
        <h2>Gerenciar chefs</h2>
      </div>
      <div class="action">
        
          <a class="button-new" href="/admin/chefs/create">Novo chef</a>

      </div>
    </div>

    <section class="list chef-list">

        {% for chef in chefs %}
          <div class="item">
            
            <div class="item_avatar">
              <img src="{{chef.avatar_url}}" alt="chef avatar">
            </div>
            <div class="item_info">
              <h2>{{chef.name}}</h2>

              <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
            </div>
            
          </div>
        {% endfor %}

      </section>

  </section>
{% endblock %}

