{% extends "admin/layout.njk" %}

{% block content %}

<section class="content">

  <div class="content-header">
    
    <div class="content-header-title">
      <h2>Gerenciar chefs</h2>
    </div>

    <div class="content-header-menu">
      <a class="button" href="/admin/chefs/create">Novo chef</a>
    </div>

  </div>

  <div class="items">
  {% for chef in chefs %}
    
    <div class="chef">

      <div class="chef-image">
        <img src="{{chef.image}}" alt="chef image">
      </div>

      <div class="chef-info">

        <h2>{{chef.name}}</h2>
        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
      
      </div>

    </div>

  {% endfor %}
  </div>

</section>

{% endblock %}