
<div class="item">
  <div>Nome complete</div>
  <div>
    <input 
      type="text" 
      name="name"
      placeholder="Digite seu nome completo"
      value="{{ user.name }}"
    >
  </div>
</div>

<div class="item">
  <div>E-mail</div>
  <div>
    <input 
      type="text" 
      name="email"
      placeholder="Digite seu email"
      value="{{ user.email }}"
    >
  </div>
</div>

<div class="item">
  <div>Tipo de usuário</div>
  <div>
    <select name="is-admin">

        <option value="false">
          Comum
        </option>

        <option value="true">
          Administrador
        </option>

    </select>
  </div>
</div>