<div class="item">
  <div>
    <input 
      type="text" 
      name="user"
      placeholder="Email"
    >
  </div>
</div>

<div class="item">
  <div>
    <input 
      type="password" 
      name="password"
      placeholder="Password"

    >
  </div>
</div>

<button class="button" type="button">
  Entrar
</button>