<div class="item">
  <div><h3>Nome</h3></div>
  <div>
    <input 
      type="text" 
      name="name"
      value="{{ user.name }}"
    >
  </div>
</div>

<div class="item">
  <div>E-mail</div>
  <div>
    <input 
      type="text" 
      name="email"
      value="{{ user.email }}"
    >
  </div>
</div>