<div class="item">
  <div><h3>Usuário</h3></div>
  <div>
    <input 
      type="text" 
      name="user"
    >
  </div>
</div>

<div class="item">
  <div><h3>Senha</h3></div>
  <div>
    <input 
      type="password" 
      name="password"
    >
  </div>
</div>

<button class="button" type="button">
  Entrar
</button>