@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --yellow-dark: #fdbb2d;
    --yellow-light: #f5c039;
    --white-color: #f3f3f3;
    --light-white-color: #ffffff;
    --font-color: #1a1a1a;
    --font-color-suave: #292929;
    --font-color-grey: #666666;
    --font-color-grey-light: #acacac;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
}

p, h1, h2, h3 h4, h5, h6 {
    color: var(--font-color-suave);
}

.content {
    width: 90%;
    max-width: 1160px;
    min-height: 60vh;
    margin: 0 auto;
}

.content .content-header {

    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 20px 0;

    border-bottom: 1px solid #dbdbdb;
}

.content .content-header .content-header-title {
    font-size: 18px;
}

.content .content-header .content-header-menu {
    display: flex;
    gap: 5px;
}

/* Button stantard */

.button {
    
    padding: 10px;
    border-radius: 4px;

    background: var(--yellow-light);
    color: var(--font-color-suave);

    font-weight: bold;

    min-width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;

    text-transform: uppercase;

    cursor: pointer;
}

.button a {
    color: var(--font-color-suave);
}

.button-delete {
    background: #e0e0e0;
    color: #9b9b9b;
}

.button-delete:hover {
    background: #DC4747;
    color: var(--font-color-suave);
}

/* Form stantard */

.form {
    max-width: 700px;
}

.form .item h3 {
    margin: 10px 0;
}

.form .item input.input-default,
.form .item textarea,
.form .item select,
.form .item input {
    width: 100%;
    outline: none;
    color: #555;
    font-size: 16px;
    font-weight: lighter;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    background: var(--light-white-color);
}

.form .item textarea {
    height: auto;
}

.form .item input[type='radio'] {
    height: auto;
    width: auto;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 1px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
input[type='radio']:checked {
    /* border: 1px solid black; */
    background-color: var(--yellow-dark);
}

label {
    margin-right: 20px;
}

.form .item input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

/* Items (listing) */

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

.invisible {
    display: none;
}