@import 'global.css';

/* style header component */

.header {
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(165deg, var(--yellow-dark), var(--yellow-light)); */
    background: rgb(253,187,45);
    background: linear-gradient(103deg, rgba(253,187,45,1) 0%, rgba(255,209,84,1) 22%, rgba(253,187,45,1) 100%);

    min-height: 25vh;
}

.header .menu {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header .menu .logo {
    padding: 0 0 0 30px;
}

.header .menu .logo img {
    width: 50px;
}

.header .menu .name {
    padding: 0 15px;
}

.header .menu .name a {
    font-family: 'Sriracha', cursive;
    font-size: 42px;
    color: var(--font-color);
}

#navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 20px;
}

nav .navigation-main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

nav a {
    color: var(--font-color);
    text-decoration: none;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    min-width: 70px;
}

nav a.active {
    font-weight: bold;
}

nav a:hover {
    font-weight: bold;
}

nav .navigation-session {
    display: flex;
    gap: 1rem;    
}

nav .navigation-session a,
nav .navigation-session button {
    border: 1px solid var(--font-color);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    min-width: 70px;
} 

nav .navigation-session a:hover,
nav .navigation-session button:hover {
    font-weight: bold;
    background-color: var(--font-color);
    color: var(--yellow-light);
} 



.header .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

.header .banner h1 {
    font-size: 48px;
    background: linear-gradient(180deg, #1b1b1b, rgb(29, 29, 29));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .banner .icon {
    margin-top: 15px;
}

.header .banner .icon img {
    width: 50px;
}