/* Main Container */

.container-login {
    display: flex;
    height: 100vh;
}

/* Container left */

div.container-login .container-left {
    flex: 1;
    background: linear-gradient(103deg, rgba(253,187,45,1) 0%, rgba(255,209,84,1) 22%, rgba(253,187,45,1) 100%);
}

/* Container right */

div.container-login .container-right {
    flex: 1;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* conteiner right content */

.container-right > :first-child {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* title and components */

.container-right .title {
    /* border: 1px solid black; */
    text-align: center;
}

.container-right .title h1 {
    color: var(--yellow-dark);
    padding-bottom: 5px;
    border-bottom: 3px solid var(--yellow-dark);
}





/* fields and components */

.container-right .field {
    /* border: 1px solid black; */
    padding: 10px 0 10px 0;
}

.container-right .field .item > :first-child {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

.container-right .field .item input {
    padding: 15px;
    margin: 5px 0 5px 0;
    width: 100%;
    background-color: #E4E4E4;

    color: #808080;
    font-size: 16px;
    line-height: 21px;
}

.container-right .field .item input::placeholder {
    color: #9D9D9D;
    font-size: 16px;
    line-height: 21px;
}





/* buttons and components */

.container-right .buttons button {
    width: 100%;
    height: 50px;
}





/* links and components */

.container-right .link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    
    margin-top: 15px;
    border-top: 1px solid #D2D2D2;

    padding: 10px;
}

.container-right .link a {
    /* text-transform: uppercase; */
    font-size: 16px;
    font-weight: lighter;
    color: rgb(82, 82, 82);
}