{% extends "admin/layout.njk" %}

{% block content %}

<section class="content form">

  <div class="content-header">
    
    <div class="content-header-title">
      <h2>Criando receita</h2>
    </div>

    <div class="content-header-menu">
      <button class="button" type="submit" form="create-form">Salvar receita</button>
    </div>

  </div>

  <form action="/admin/recipes" method="POST" id="create-form" enctype="multipart/form-data">
  
  {% include 'admin/recipe/fields.njk' %}

  </form>
  
</section>

{% endblock %}