{% extends "admin/layout.njk" %}

{% block content %}

<section class="content">

    <div class="content-header">

      <div class="content-header-title">
        <h2>{{ recipe.title }}</h2>
      </div>

      <div class="content-header-menu">
        <button class="button">
          <a href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
        </button>
      </div>

    </div>
  
    <div class="content-recipe1">

        <div class="gallery">

          <div class="main-image"> {# container_image #}
            <img src="{{files[0].src}}" alt="prato">
          </div>
          
          <div class="gallery-preview">
            {% if files %}
              {% for image in files %}
                <img 
                  src="{{image.src}}" 
                  alt=""
                  {% if loop.index0 == 0 %}
                    class="active"
                  {% endif %}
                  onclick="ImageGallery.setImage(event)"
                >
              {% endfor %}
  
            {% endif %}
          </div>

        </div>


        
      
        <h1>{{recipe.title}}</h1>
        <h3>por {{recipe.chef_name}}</h3>
        
        <div class="sub-title">
          <h2>Ingredientes</h2>
        </div>
        <div class="ingredients">
          <ul class="items">
            {% for ingredient in recipe.ingredients %}
              <li>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </div>
      
        <div class="sub-title">
          <h2>Modo de preparo</h2>
        </div>
        <div class="preparation">
          <ul class="items">
            {% for step in recipe.preparation %}
              <li>{{step}}</li>
            {% endfor %}
          </ul>
        </div>
      
        <div class="sub-title">
          <h2>Informações adicionais</h2>
        </div>
        <div class="information">
          <p>{{recipe.information}}</p>
        </div>
      
    </div>
      
</section>

{% endblock %}