{% extends "admin/layout.html" %}

{% block content %}

    <section class="details">

      <div class="content-head">
        <div class="title">
          <h1>Receita: {{ recipe.title }}</h1>
        </div>
        <div class="action">
          <button class="fat_button">
            <a href="/admin/recipes/{{ recipe.id }}/edit" type="submit">Editar receita</a>
          </button>
        </div>
      </div>
  
      <div class="recipe">

        <div class="container_image">
          <img src="{{recipe.image}}" alt="prato">
        </div>
        <div class="lightbox">
          <img class="lighbox-img active" src="https://images.unsplash.com/photo-1596560548464-f010549b84d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
          <img class="lighbox-img" src="https://www.health.harvard.edu/media/content/images/cr/8c38e37d-e8b9-48dd-a9a8-65083a6115e5.jpg" alt="">
          <img class="lighbox-img" src="https://www.health.harvard.edu/media/content/images/cr/8c38e37d-e8b9-48dd-a9a8-65083a6115e5.jpg" alt="">
          <img class="lighbox-img" src="https://www.health.harvard.edu/media/content/images/cr/8c38e37d-e8b9-48dd-a9a8-65083a6115e5.jpg" alt="">
        </div>

        
      
        <h1>{{recipe.title}}</h1>
        <h3>por {{recipe.chef_name}}</h3>
        
        <div class="sub-title">
          <h2>Ingredientes</h2>
        </div>
        <div class="ingredients">
          <ul class="items">
            {% for ingredient in recipe.ingredients %}
              <li>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </div>
      
        <div class="sub-title">
          <h2>Modo de preparo</h2>
        </div>
        <div class="preparation">
          <ul class="items">
            {% for step in recipe.preparation %}
              <li>{{step}}</li>
            {% endfor %}
          </ul>
        </div>
      
        <div class="sub-title">
          <h2>Informações adicionais</h2>
        </div>
        <div class="information">
          <p>{{recipe.information}}</p>
        </div>
      
      </div>
      
    </section>

{% endblock %}