{% extends "admin/layout.html" %}

{% block content %}

    <section class="details">


      <div class="content-head">
        <div class="title">
          <h1>Editando Receita</h1>
        </div>
        <div class="action">
          
           <button type="submit" class="delete_button" form="delete-form">Deletar</button>
           
           <button type="submit" form="update-form">Salvar</button>
         
        </div>
      </div>
      
      <form method="POST" action="/admin/recipes?_method=PUT" id="update-form" enctype="multipart/form-data">
        {% include 'admin/recipe/fields.html' %}
        <input type="hidden" name="id" value="{{recipe.id}}">
      </form>

      <form method="POST" action="/admin/recipes?_method=DELETE" id="delete-form">
        <input type="hidden" name="id" value="{{recipe.id}}">
      </form>
      
      
    </section>

{% endblock %}