<div class="item">
  <div>
    <h3>Imagens da receita</h3>
  </div>
  <div id="container-photos">
    <div id="photos-upload">
      <input 
        id="photos-input"
        type="file" 
        name="photos" 
        multiple
        accept="image/*"
      >
      <div>
      <i class="material-icons">add</i>
      </div>
    </div>
    <div id="photos-preview">
      <div class="photo" id="01">
        <img src="https://images.unsplash.com/photo-1562525882-d9dabe507593?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <i
          class="material-icons"
        >delete</i>
      </div>
      <div class="photo" id="01">
        <img src="https://images.unsplash.com/photo-1562525882-d9dabe507593?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <i
          class="material-icons"
        >delete</i>
      </div>
      <div class="photo" id="01">
        <img src="https://images.unsplash.com/photo-1562525882-d9dabe507593?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <i
          class="material-icons"
        >delete</i>
      </div>
      <input type="hidden" name="removed_files">
    </div>
  </div>
</div>



<div class="item">
  <div><h3>Title</h3></div>
  <div>
    <input 
      type="text" 
      name="title"
      value="{{ recipe.title }}"
      class="input-default"
    >
  </div>
</div>

<div class="item">
  <div><h3>Chef</h3></div>
  <div>
    <select name="chef">
      {% for chef in chefOptions%}

        <option value="{{chef.id}}"
          {% if recipe.chef_id == chef.id %} selected {% endif %}>
          {{chef.name}}  
        </option>

      {% endfor %}
    </select>
  </div>
</div>

<div class="item">
  <div><h3>Imagem da receita</h3></div>
  <div>
    <input 
      type="url" 
      name="image" 
      placeholder="http://"
      value="{{ recipe.image }}"
      class="input-default"
    >
  </div>
</div>

<div class="item ingredients">
  <div><h3>Ingredientes</h3></div>
  {% if recipe.ingredients %}
    {% for ingredient in recipe.ingredients %}
      <div class="ingredient">
          <input 
            type="text" 
            name="ingredients[]" 
            value="{{ ingredient }}"
            class="input-default"
          >
      </div>
    {% endfor %}
    {% else %}
        <div class="ingredient">
          <input 
            type="text" 
            name="ingredients[]"
            class="input-default"
          >
        </div>
  {% endif %}
</div>
<div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>


<div class="item passos">
  <div><h3>Modo de preparo</h3></div>
  {% if recipe.preparation %}
    {% for preparation in recipe.preparation %}
      <div class="passo">
      <input 
        type="text" 
        name="preparation[]"
        value="{{ preparation }}"
        class="input-default"
      >
      </div>
    {% endfor %}
    {% else %}
      <div class="passo">
      <input 
        type="text" 
        name="preparation[]"
        class="input-default"
      >
      </div>
  {% endif %}
</div>
<div>
  <button type="button" class="add-passo">Adicionar novo passo</button>
</div>

<div class="item">
  <div><h3>Informações adicionais</h3></div>
  <div>
    <textarea  
      name="information"
      rows="5"
    >{{ recipe.information }}</textarea>
  </div>
</div>