{% extends "admin/layout.html" %}

{% block content %}

  <section class="details">

    <div class="title">
      <h2>Gerenciar receitas</h2>
    </div>

    <section class="list recipe-list">

      {% for recipe in recipes %}
      <div class="item">
            
        <div class="item_avatar">
          <img src="{{recipe.image}}" alt="recipe image">
        </div>
        <div class="item_info">
          <h2>{{recipe.title}}</h2>

          <p>por {{recipe.chef_name}}</p>

          <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>
            
      </div>
      {% endfor %}

    </section>

  </section>
{% endblock %}

