<div class="item">
  <div>
    <h3>Imagens da receitas</h3>
  </div>

  <div id="container-photos">

    <div id="photos-preview">

      <div id="photos-upload">
        <input 
          id="photos-input"
          type="file" 
          name="photos" 
          multiple
          accept="image/*"
          onchange="PhotosUpload.handleFileInput(event)"
        >
        <div>
          <i class="material-icons">add</i>
        </div>
      </div>


      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.file_id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i 
              class="material-icons"
              onclick="PhotosUpload.removeOldPhoto(event)"
            >
            delete
            </i>

          </div>
        {% endfor %}

      {% endif %}
      

      <input type="hidden" name="removed_files">
    </div>
    
  </div>
</div>



<div class="item">
  <div><h3>Title</h3></div>
  <div>
    <input 
      type="text" 
      name="title"
      value="{{ recipe.title }}"
      class="input-default"
    >
  </div>
</div>

<div class="item">
  <div><h3>Chef</h3></div>
  <div>
    <select name="chef">
      {% for chef in chefOptions%}

        <option value="{{chef.id}}"
          {% if recipe.chef_id == chef.id %} selected {% endif %}>
          {{chef.name}}  
        </option>

      {% endfor %}
    </select>
  </div>
</div>

<div class="item">

  <h3>Ingredientes</h3>

  {% if recipe.ingredients %}
    {% for ingredient in recipe.ingredients %}
      <div class="item-container"> {# ingredient #}
          <input 
            type="text" 
            name="ingredients[]" 
            value="{{ ingredient }}"
          >
      </div>
    {% endfor %}
    {% else %}
        <div class="item-container">
          <input 
            type="text" 
            name="ingredients[]"
          >
        </div>
  {% endif %}

  <button class="button-link" type="button" > Adicionar novo ingrediente </button>

</div>




<div class="item">
  
  <h3>Modo de preparo</h3>
  
  {% if recipe.preparation %}
    {% for preparation in recipe.preparation %}
      <div class="passo">
      <input 
        type="text" 
        name="preparation[]"
        value="{{ preparation }}"
      >
      </div>
    {% endfor %}
    {% else %}
      <div class="passo">
      <input 
        type="text" 
        name="preparation[]"
      >
      </div>
  {% endif %}

  <button class="button-link" type="button">Adicionar novo passo</button>

</div>


<div class="item">
  <div><h3>Informações adicionais</h3></div>
  <div>
    <textarea  
      name="information"
      rows="5"
    >{{ recipe.information }}</textarea>
  </div>
</div>