<div class="item">
  <div>
    <h3>Imagens da receitas</h3>
  </div>

  <div class="container-photos">

    <div id="photos-upload">
      <input 
        id="photos-input"
        type="file" 
        name="photos" 
        multiple
        accept="image/*"
        onchange="PhotosUpload.handleFileInput(event)"
      >
      <div>
        <i class="material-icons">add</i>
      </div>
    </div>

    <div id="photos-preview">

      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.file_id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i 
              class="material-icons"
              onclick="PhotosUpload.removeOldPhoto(event)"
            >
            delete
            </i>

          </div>
        {% endfor %}

      {% endif %}
      
    </div>
    
    <input type="hidden" name="removed_files">

  </div>

</div>



<div class="item">
  <div><h3>Title</h3></div>
  <div>
    <input 
      type="text" 
      name="title"
      value="{{ recipe.title }}"
      class="input-default"
    >
  </div>
</div>

<div class="item">
  <div><h3>Chef</h3></div>
  <div>
    <select name="chef">
      {% for chef in chefOptions%}

        <option value="{{chef.id}}"
          {% if recipe.chef_id == chef.id %} selected {% endif %}>
          {{chef.name}}  
        </option>

      {% endfor %}
    </select>
  </div>
</div>

<div class="item">

  <h3>Ingredientes</h3>

    {% if recipe.ingredients %}
      <div class="item-container" id="ingredients"> {# ingredient #}
        {% for ingredient in recipe.ingredients %}
    
              <input 
                type="text" 
                name="ingredients[]" 
                value="{{ ingredient }}"
                id="ingredient"
              >
          
        {% endfor %}
      </div>
    {% else %}
      <div class="item-container" id="ingredients"> {# ingredient #}
        <input 
          type="text" 
          name="ingredients[]"
          id="ingredient"
        >
      </div>
    {% endif %}

  <button class="button-link" type="button" onclick="addIngredient(event)"> Adicionar novo ingrediente </button>

</div>




<div class="item">

  <h3>Modo de preparo</h3>

    {% if recipe.preparation %}
      <div class="item-container" id="preparations"> {# ingredient #}
        {% for preparation in recipe.preparation %}
    
              <input 
                type="text" 
                name="preparation[]" 
                value="{{ preparation }}"
                id="preparation"
              >
          
        {% endfor %}
      </div>
    {% else %}
      <div class="item-container" id="preparations"> {# ingredient #}
        <input 
          type="text" 
          name="preparation[]"
          id="preparation"
        >
      </div>
    {% endif %}

  <button class="button-link" type="button" onclick="addPreparation(event)"> Adicionar novo passo </button>

</div>

<div class="item">
  <div><h3>Informações adicionais</h3></div>
  <div>
    <textarea  
      name="information"
      rows="5"
    >{{ recipe.information }}</textarea>
  </div>
</div>