<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% import "parts/header.njk" as header %}
    {% block head %}
      <title>Foodfy</title>
    {% endblock head %}

    {% include "parts/styles.njk" %}

  </head>
  <body>

    {% include "parts/messages.njk" %}

    {{header.content("admin", session.userId )}}


    {% block content %}
    
    {% endblock content %}

    {% include "parts/footer.njk" %}

    {% include "parts/scrips.njk" %}

  </body>
</html>