<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
      <title>Foodfy</title>
    {% endblock head %}

    {% include "parts/styles.njk" %}

  </head>
  <body>
    {% include "parts/messages.njk" %}

    <div class="container-login">

      <div class="container-left">

        <img src="/assets/logo.png" alt="logo">

      </div>

      <div class="container-right">

        <div>
          <div class="title">
          {% block title %}
        
          {% endblock title %}
          </div>

          <div class="field">
            {% block field %}
          
            {% endblock field %}
          </div>

          <div class="buttons">
            {% block buttons %}
          
            {% endblock buttons %}
          </div>

          <div class="link">
            {% block link %}
          
            {% endblock link %}
          </div>
        </div>

      </div>

    </div>


  <script src="/script.js"></script>
  </body>
</html>