{% extends "parts/header-layout.njk" %}

{% block nav %}
      <a href="/recipes">Receitas</a>
      <a href="/chefs">Chefs</a>
{% endblock nav %}

{% block title %}
      <div class="title">
        <h1>Administração</h1>
      </div>
{% endblock title %}

{% block subtitle %}
      <div class="subtitle">
        <p>Todo cuidado é pouco.</p>
      </div>
{% endblock subtitle %}