{% extends "parts/header-layout.njk" %}

{% block nav %}
    <nav>
      <a href="/site/about">Sobre</a>
      <a href="/site/recipes">Receitas</a>
      <a href="/site/chefs">Chefs</a>
      <a href="/recipes">Admin</a>
    </nav>
{% endblock nav %}

{% block title %}
      <div class="title">
        <h1>As melhores receitas</h1>
      </div>
{% endblock title %}

{% block subtitle %}
      <div class="subtitle">
        <p>Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.</p>
      </div>
{% endblock subtitle %}


