<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{# <link rel="stylesheet" href="/style.css"> #}
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/footer.css">

{# chefs #}
<link rel="stylesheet" href="/styles/chef/index.css">
<link rel="stylesheet" href="/styles/chef/create.css">
<link rel="stylesheet" href="/styles/chef/detalhe.css">

{#  recipes #}
<link rel="stylesheet" href="/styles/recipe/index.css">
<link rel="stylesheet" href="/styles/recipe/create.css">
<link rel="stylesheet" href="/styles/recipe/fields.css">